# EODHD API Key
EODHD_API_KEY=""

# CoinMarketCap API Key
COINMARKETCAP_API_KEY=""

# Telegram API Key
TELEGRAM_API_KEY=""

# Helius API Key
HELIUS_API_KEY=""

# OKX API Credentials
OKX_API_SECRET=""
OKX_PASSPHRASE=""
OKX_API_KEY=""


# Coinbase API Credentials
COINBASE_API_KEY=""
COINBASE_API_SECRET=""
COINBASE_API_PASSPHRASE=""

TWITTER_API_KEY=your_api_key
TWITTER_API_SECRET=your_api_secret
TWITTER_ACCESS_TOKEN=your_access_token
TWITTER_ACCESS_TOKEN_SECRET=your_access_token_secret
